<h4> My Polygons</h4>
<table>
  <% @polygons.each do | polygon | %>
      <tr>
        <td>
          <%= polygon.name %>
        </td>
        <td>
          <%= link_to 'Destroy', polygon,  method: :delete %>
        </td>
      </tr>
  <% end %>
</table>
<h4> Create a new Polygon </h4>
<%= form_for Polygon.new, url: {action: "create"} do |f| %>
    <%= f.text_field :name %>
    <%= f.submit "Create" %>
<% end %>